[2013-04-12 23:37] viric opened #9 "License?"
Hello,

maybe I miss something evident, but I can't find any license next to the source. Is there any in particular, or we should assume a default copyright?

[2013-10-30 16:53] somnial opened #12 "CBC encryption"
Will CBC encryption be implemented? Would be very helpful for better compatibility with other irc clients.

[2015-04-04 20:09] ticklemynausea opened #20 "Wrong documentation?"
Hi. This package installs the following files when running sudo make install (unprivileged make install failed):

/usr/local/share/doc/FiSH-irssi/README.md
/usr/local/share/doc/FiSH-irssi/FiSH-irssi.txt
/usr/local/lib/irssi/modules/libfish.so

All very nice, but the documentation isn't very clear ('To run' section) with this. I am able to load the module with /load libfish or /load /path/to/libfis

[2015-05-25 14:53] MikkoMajuri opened #23 "Hilight not working?"
Me and my friends have noticed that hilight is not working on any of us that have this FiSH loaded.

[2015-05-25 16:17] falsovsky commented on #23
Hi, please post a screenshot or something. I just tried and it works correctly here.
Or tell me how to reproduce it.

[2015-05-25 16:44] MikkoMajuri commented on #23
![No hilight 1](http://kinky.fi/mikma/fish/nohilight1.png)
![No hilight 2](http://kinky.fi/mikma/fish/nohilight2.png)

config:
fish = { mark_encrypted = "\0038@\003 "; plain_prefix = "< "; };

[2015-05-25 19:09] falsovsky commented on #23
![untitled](https://cloud.githubusercontent.com/assets/142947/7801264/d98fbdb2-0319-11e5-82b2-d89b5935db0c.png)

I just defined the options as you stated, and it still works.

[2015-05-25 19:14] falsovsky commented on #23
Ok, it seems to be related to the default irssi theme... going to look further into it

[2015-05-25 20:14] falsovsky commented on #23
Well, I have debugged it further.

It seems that the irssi nick hilight implementation doesnt like if something is before the nick. It just works if the nick is the first thing of the message.

I now tried to put the "markencrypted" at the end of the message with "/set mark_position 0" and it started working.

I'll try to see if I can fix this somehow on FiSH, in the meanwhile you can get a ghetto

[2015-05-25 23:03] MikkoMajuri commented on #23
Yes indeedie. Ghetto fix works. Confirmed that too couple of hours ago. But atleast now you know there's something wrong with it in case you do plan on "fixing" this :)

[2015-07-07 10:38] #20 closed

[2015-10-05 21:13] tobbez opened #26 "Prepend fish_ to config keys"
Please consider adding the fish_ prefix to irssi config keys.

This would allow one to use `/set fish` to get a list of all the config keys used by the fish module.

[2015-10-06 09:34] falsovsky commented on #26
Ok! This seems to be a good idea.

I'm going to look into it, the only problem is that it will break the current configurations that people have.

But that shoulnt be a BIG problem. :-)

[2015-10-06 12:52] falsovsky commented on #9
I'm thinking of changing the license to CC0 - https://creativecommons.org/publicdomain/zero/1.0/

Anyone agaisnt this?

[2015-10-07 12:47] kelek- opened #27 "implicit declaration of ischannel"
Hello,
with the latest version of your fish module I get the following error/warning during make
`/root/sources/FiSH-irssi/src/FiSH.c: In function ‘decrypt_msg’:
/root/sources/FiSH-irssi/src/FiSH.c:235:6: warning: implicit declaration of function ‘ischannel’ [-Wimplicit-function-declaration]
  if (ischannel(*target))
      ^`
It finishes to build successfully, but whenever I try to load it, i get

[2015-10-07 12:56] falsovsky commented on #27
I've been working on it.. and it have always been compiling without any problems.

Which distribution are you using ?

[2015-10-07 13:01] falsovsky commented on #27
Youre using irssi from git ? It seems they removed that function from irc.h.

[2015-10-07 13:02] falsovsky commented on #27
And it seems they now have a function called server_ischannel()

[2015-10-07 13:02] falsovsky commented on #27
If i change the code... it will break for all the older irssi versions

[2015-10-07 13:06] kelek- commented on #27
I see, i just successfully build it using latest stable (0.8.17) irssi. The latest git version breaks it indeed.

[2015-10-07 13:20] falsovsky commented on #27
I'm going to try to add a fix for that, without breaking all the older versions.

[2015-10-07 13:23] kelek- commented on #27
That would be awesome!

[2015-10-07 15:37] falsovsky commented on #27
Just to report you that FiSH now works with the old irssi and the new from git :-)

If you have any problem with it, please reopen this! Thanks!

[2015-10-07 15:37] #27 closed

[2015-10-08 18:50] martijne opened #28 "long key wil crash irssi"
A long(> 96 chars ) key wil crash irssi

for example:
[code]

[2015-10-08 19:37] martijne commented on #28
For fix see https://github.com/falsovsky/FiSH-irssi/pull/29

[2015-10-12 10:09] falsovsky commented on #28
I think i fixed it.

I would like for you to test it out if you can.

[code]

And then build it normally

[2015-10-16 12:48] martijne commented on #28
Sorry i was a way for a couple of day's.

I compiled this new branch en it seems to work nicely for 2 hours now
Tested on a ubuntu 15.04 x64 and Raspbian Jessie (raspbery pi 1)

[2016-01-20 10:41] coral opened #30 "Can't use with latest irssi"
```Irssi: fish/fish is ABI version 0 but Irssi is version 1, cannot load```

```Irssi: Client: irssi 0.8.18-g4af3a47 (20160112 2338)```

Is the old ABI interface deprecated or did i build it wrong?

[2016-01-20 11:01] falsovsky commented on #30
Hi,

I think now irssi requires you to rebuild the modules after updating irssi.
And also requires some new functions i think. I will add it later.

[2016-01-20 12:10] coral commented on #30
I just built the project from scratch but still same issue so probably some functions.

[2016-01-20 12:25] falsovsky commented on #30
Later in the day I will comment to this issue, when I'm at home.

[2016-01-20 15:03] ailin-nemui commented on #30
Hi, we added some compile-time constant to stop irssi from crashing with modules compiled into different irssi versions. To use it, please include

[code]
next to your `_init` and `_deinit` functions. sorry for the inconvenience!

[2016-01-20 15:10] falsovsky commented on #30
Yes, thats what im going to do. And also merge some fixes that are on another branch

[2016-01-20 15:41] falsovsky commented on #30
Are you sure you rebuild fish after installing that irssi ?

I just installed irssi from git, and then build fish, I cant reproduce that:

15:38 -!-  ___           _
15:38 -!- |_ _|_ _ _____(_)
15:38 -!-  | || '_(_-<_-< |
15:38 -!- |___|_| /__/__/_|
15:38 -!- Irssi v0.8.18-g79fa2fc - http://www.irssi.org
15:39 -!- Irssi: FiSH r212-3682ed8 - encryption module for irssi loaded!
15:39 -!- Irssi: URL:

[2016-01-20 15:44] ailin-nemui commented on #30
g79fa2fc -> is from last year. try updating your irssi.git

[2016-01-20 16:32] falsovsky commented on #30
I did some fuck up, dont use it as it is now.

[2016-01-20 21:47] falsovsky commented on #30
Im sorry @ailin-nemui , but when downloading irssi from master, that revision appears on irssi. Or im doing something wrong.

Should I use a different branch?

[2016-01-20 21:48] falsovsky commented on #30
Maybe the 0.8.18-beta2 tag ?

[2016-01-20 22:05] falsovsky commented on #30
This is fixed with aede935ef4c364e4ad9546aaf857edc0cc6a242c

Thanks for reporting.
And thanks to @ailin-nemui for helping me out.

[2016-01-20 22:05] #30 closed

[2016-01-20 22:08] ailin-nemui commented on #30
weird, master should give you -g4af3a47 you can also see it on the website https://github.com/irssi/irssi/commits/master

[2016-01-20 22:11] falsovsky commented on #30
Yes I know. Its weird, I dont understand it either.
I've used the tag, and it now checks for the abi so I could test :-)

[2016-01-20 22:12] falsovsky commented on #30
Now i'm going to try to merge a branch that I have, that changes every fixed buffer to use malloc. :-)

[2016-01-20 22:12] ailin-nemui commented on #30
good luck!

[2016-01-21 11:27] bibidinu opened #33 "wrong info for blow.ini"
how do I remove > prefix?
i have set on blow.ini

how do I remove>

[FiSH]
process_incoming=1
process_outgoing=1
mark_position=0
mark_encrypted=
plain_prefix="+p "
mark_broken_block=0

[net:#chan]
key=+OK 9faqY11zc810.cskJ18rM.

but still announce prefix >

[2016-01-21 11:31] falsovsky commented on #33
Theres an option on the readme for that "mark_encrypted"

I just did "/unset mark_encrypted" it it no longer appears. Can you verify ?

[2016-01-21 11:41] bibidinu commented on #33
ok i have read wrong txt now work bro tnx ! :dancers:

[2016-01-21 11:41] #33 closed

[2016-01-21 16:21] coral commented on #30
FiSH ERROR: Unable to write new blow.ini, probably out of disc space.

Seems like it can't write this one :(

[2016-01-21 16:24] falsovsky commented on #30
You get that by doing what ? Typing in the password at startup ?

[2016-01-21 16:30] coral commented on #30
/setinipw

Also i must say i am very impressed by how fast you respond! I really like this project a lot.

[2016-01-21 16:36] falsovsky commented on #30
-bash-4.3$ ls -sl .irssi/blow.ini
4 -rw-r--r--  1 fish  fish  115 Jan 21 16:35 .irssi/blow.ini

What are the permissions on yours ?
Or are you starting without any blow.ini ?

I need to figure out all the steps youre doing to reproduce this problem.

[2016-01-21 20:16] coral commented on #30
coral@shell:~$ ls -sl .irssi/blow.ini
4 -rw-r--r-- 1 coral coral 26 Jan 21 17:20 .irssi/blow.ini

[2016-01-21 20:17] coral commented on #30
I started without any blow.ini at first.

[2016-01-21 20:17] coral commented on #30
coral@shell:~/.irssi$ cat blow.ini
[FiSH]
ini_password_Hash=

[2016-01-21 20:20] falsovsky commented on #30
Ok. Thanks, im going to try to reproduce it!

[2016-01-21 20:53] falsovsky commented on #30
I can reproduce it now. Going to fix it!

[2016-01-21 21:19] coral commented on #30
Cool! Looking forward to it

[2016-01-21 21:59] falsovsky commented on #30
Hi,

I think I fixed it now with commit 2b0c1c095035e052afcc27f074cb7b51fb0d669f

git pull again and try it!

The problem was that it was trying to set the inipw for blow.ini but it didnt yet exist.

[2016-01-21 23:21] coral commented on #30
@falsovsky Fixed! Big thanks!

[2016-03-01 20:22] saytin opened #34 "error while loading on irssi 0.8.18"
When trying to load fish in new irssi i get error:
 Irssi: fish/fish is ABI version 0 but Irssi is version 1, cannot load

I've compiled fish after I've compiled irssi

[2016-03-02 00:07] falsovsky commented on #34
Youre doing something wrong. I just built irssi 0.8.18 and the latest FiSH and its working.

[code]

I already added support for that a few weeks ago.

[2016-03-02 07:04] saytin commented on #34
i got libfish.so in ~/.irssi/modules. Sry for troubles.

[2016-03-02 10:04] #34 closed

[2016-04-16 11:01] bibidinu opened #35 "same error with new version irssi"
irssi 0.8.19  Irssi: fish/fish is ABI version 1 but Irssi is version 2, cannot load

[2016-04-16 11:59] falsovsky commented on #35
You have to rebuild FiSH after you upgrade irssi

[2016-04-17 21:07] bibidinu commented on #35
/root/FiSH-irssi-master/src/inifile.h:4:18: fatal error: glib.h: no such file or directory
compilation terminated.
make[2]: *** [CMakeFiles/fish.dir/inifile.o] Error 1
make[1]: *** [CMakeFiles/fish.dir/all] Error 2
make: *** [all] Error 2

[2016-04-18 00:19] falsovsky commented on #35
You need to have glib installed...

[2016-04-18 08:28] bibidinu commented on #35
/FiSH-irssi-master/src# locate glib.h
/usr/include/glib-2.0/glib.h

[2016-04-18 08:50] bibidinu commented on #35
ok rebuild and reinstalled but error persist
10:50 -!- Irssi: fish/fish is ABI version 0 but Irssi is version 2, cannot load

Install the project...
-- Install configuration: ""
-- Up-to-date: /usr/local/share/doc/FiSH-irssi/README.md
-- Up-to-date: /usr/local/share/doc/FiSH-irssi/FiSH-irssi.txt
-- Up-to-date: /usr/local/lib/irssi/modules/libfish.so

[2016-04-18 08:54] falsovsky commented on #35
You probably have to libfish installed. One on /usr and aonther on /usr/local, fix that.

[2016-04-18 09:02] bibidinu commented on #35
fixed in all dir with new lib but error persist

[2016-04-18 09:07] falsovsky commented on #35
Youre doing something wrong, this problem was fixed months ago.

I'm also running latest irssi and latest fish, and everything works OK.

The problem that is happening is on your side.

Try:

 /load /usr/local/lib/irssi/modules/libfish.so

Or explain what youre doing.

[2016-04-18 09:15] bibidinu commented on #35
mate i have rebuild irssi-0.8.19.tar.gz recompiled FiSH-master and installed all without problem but when try to load libfish.so
irssi do this error
Irssi: fish/fish is ABI version 0 but Irssi is version 2, cannot load

tried to reinstall it on another machine that mistake ...

thanks for your time but maybe something is wrong bo

[2016-04-18 09:21] falsovsky commented on #35
The problem is on your side, I just build it.

You probably have the includes from TWO irssi versions, one on /usr (maybe from your distribution) and another in /usr/local.

ls -sl /usr/local/include/irssi/irssi-config.h /usr/include/irssi/irssi-config.h

[2016-04-18 09:25] bibidinu commented on #35
ls -sl /usr/local/include/irssi/irssi-config.h /usr/include/irssi/irssi-config.h
ls: cannot access /usr/include/irssi/irssi-config.h: No such file or directory
8 -rw-r--r-- 1 root staff 4166 Apr 18 11:18 /usr/local/include/irssi/irssi-config.h

[2016-04-18 09:34] falsovsky commented on #35
You already made something different, on the first message you had.

irssi 0.8.19 Irssi: fish/fish is ABI version 1 but Irssi is version 2, cannot load

And after:

10:50 -!- Irssi: fish/fish is ABI version 0 but Irssi is version 2, cannot load

ls -sl /usr/local/lib/irssi/modules/libfish.so /usr/lib/irssi/modules/libfish.so

[2016-04-18 09:56] bibidinu commented on #35
ok i have purged all irssi version installed and recompiled source 0.8.1.9 rebuild fish and now i have this error

[ 16%] Building C object src/CMakeFiles/fish.dir/base64.c.o
[ 33%] Building C object src/CMakeFiles/fish.dir/blowfish.c.o
[ 50%] Building C object src/CMakeFiles/fish.dir/inifile.c.o
[ 66%] Building C object src/CMakeFiles/fish.dir/DH1080.c.o
[ 83%] Building C object src/CMakeFiles/fi

[2016-04-18 09:59] falsovsky commented on #35
You should read what cmake says when you run cmake, please run:

cmake -DIRSSI_PATH:PATH=/usr/local/lib/irssi/ .

And then make again.

[2016-04-18 10:05] bibidinu commented on #35
root@FiSH ~/FiSH-irssi-master # cmake -DIRSSI_PATH:PATH=/usr/local/lib/irssi/ .
-- Using glib-2.0 2.42.1
-- Using OpenSSL 1.0.1k
-- The module will be installed to /usr/local/lib/irssi/modules
-- You can change it with 'cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr .'
CMake Warning at CMakeLists.txt:46 (MESSAGE):
  irssi seems to be installed in /usr and youre installing FiSH to
  /usr/local, irssi wont

[2016-04-18 10:08] falsovsky commented on #35
**CMake Warning at CMakeLists.txt:46 (MESSAGE):
irssi seems to be installed in /usr and youre installing FiSH to
/usr/local, irssi wont be able to find the plugin there**

You have irssi files in /usr

[2016-04-18 10:17] bibidinu commented on #35
root@FiSH ~/FiSH-irssi-master # cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr .
-- Using glib-2.0 2.42.1
-- Using OpenSSL 1.0.1k
-- The module will be installed to /usr/lib/irssi/modules
-- You can change it with 'cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr .'
-- Configuring done
-- Generating done
-- Build files have been written to: /root/FiSH-irssi-master
root@FiSH ~/FiSH-irssi-master # make
[ 16%] Buildin

[2016-04-18 10:24] falsovsky commented on #35
You seem to have something really borked on your system.

Please tell me which distribution are you using and which irssi version (from packages or source)

So that I can test it myself.

[2016-04-18 10:31] bibidinu commented on #35
Debian GNU/Linux 7.10

irssi 0.8.19 (20160323 0008)

[2016-04-18 10:35] falsovsky commented on #35
How was irssi installed ?

[2016-04-18 10:58] bibidinu commented on #35
from source taken from the site

[2016-04-18 11:00] falsovsky commented on #35
From this then https://github.com/irssi/irssi/releases/download/0.8.19/irssi-0.8.19.tar.gz ?

Im installing that Debian version on a VM, and im going to try it myself.

[2016-04-18 11:47] falsovsky commented on #35
apt-get install build-essential cmake git libglib2.0-dev libssl-dev libncurses5-dev libperl-dev

falso@fish:~$ mkdir src
falso@fish:~$ cd src/
falso@fish:~/src$ wget https://github.com/irssi/irssi/releases/download/0.8.19/irssi-0.8.19.tar.gz
...

falso@fish:~/src$ tar zxfv irssi-0.8.19.tar.gz
...

falso@fish:~/src$ cd irssi-0.8.19/
falso@fish:~/src/irssi-0.8.19$ ./configure --enable-true-color
...

[2016-04-18 11:59] bibidinu commented on #35
ok now work with your guide bro :D finally thank you very much

[2016-04-18 14:10] #35 closed

[2016-04-21 23:50] luckylittle opened #36 "Could not build FiSH-irssi on CentOS release v6.7 (Final) + irssi v0.8.15"
[root@centos FiSH-irssi-master]# make
[ 16%] Building C object src/CMakeFiles/fish.dir/FiSH.c.o
In file included from /root/FiSH-irssi-master/src/FiSH.h:9,
                 from /root/FiSH-irssi-master/src/FiSH.c:2:
/root/FiSH-irssi-master/src/module.h:3:26: error: irssi-config.h: No such file or directory
In file included from /root/FiSH-irssi-master/src/module.h:5,
                 from /root/Fi

[2016-04-22 00:08] luckylittle commented on #36
Nevermind, i got it working on irssi-0.8.19:
[root@centos FiSH-irssi-master]# make
Scanning dependencies of target fish
[ 16%] Building C object src/CMakeFiles/fish.dir/base64.c.o
[ 33%] Building C object src/CMakeFiles/fish.dir/blowfish.c.o
[ 50%] Building C object src/CMakeFiles/fish.dir/inifile.c.o
[ 66%] Building C object src/CMakeFiles/fish.dir/DH1080.c.o
[ 83%] Building C object src/CMakeFil

[2016-04-22 00:09] #36 closed

[2016-04-22 12:28] Carmageddon commented on #27
This problem still exists on current version of freebsd freshports package:
https://www.freshports.org/irc/irssi-fish/
Version 1.00.r5 added on 01 Apr 2016 14:08:38 :(

How can this be fixed in the package?

[2016-04-22 13:55] falsovsky commented on #27
@Carmageddon
That port inst from this version of FiSH-irssi, its from the old and unmaintained version.

A few months ago I contacted the maintainer of that port, told him to use mine instead, but he didnt do anything.

Try to contact him again.

[2016-04-22 18:15] Carmageddon commented on #27
Thanks, I messaged him too..

[2016-04-24 14:14] Carmageddon opened #37 "DH1080_INIT not working"
Hi, there seems to be a problem in 1on1 fish when the other party is doing the init.
For example:
DH1080_INIT
gi7IeDOV6sAsS/mQZGFu1kgdxd/4VPb+2TEunD8jOZTJ66DDgxb8KYE4P1p2XyCIG0iX9wwBPAVHJ+JOSJL+sqq10adPhLzeNc3ZXp2RCMrALSVODKQIBbYHwdABs0N96wunu/U7TmW5kxwtEW0c551dmU8Ny+u5t+As5KHqKqbN7tzSRlMYA CBC

And when I run a manual check on that nick:
16:25 -!- FiSH: Key for Nick@Network not found or invalid!

[2016-04-24 14:18] falsovsky commented on #37
Hi there!

Yes, CBC isnt supported by FiSH-irssi. But pull requests are accepted :-P

[2016-04-24 14:22] Carmageddon commented on #37
Unfortunately my C knowledge is very limited - I wouldn't know where to begin testing this even...

[2016-04-24 15:30] falsovsky commented on #37
Then you are as me :-)

I'm just maintaining this, because I still use it, but the abandoned version was very hard to build.

I just added some few modifications, like cmake building and multiserver support, and some friends removed the dependecy of miracl, and started using OpenSSL instead.

I dont know much about cryptography, if I knew I would gladly implement this, because I know many other Fi

[2016-06-01 17:13] RogerCageot opened #39 "*** glibc detected *** irssi: corrupted double-linked list: 0x09e4d538 **"
When posting a special long ANSI line, irssi is crashing.

For info, irssi is 0.8.15 & FiSH is v1.00.

[2016-06-01 19:24] falsovsky commented on #39
Give me an example, so that I can reproduce it

[2016-06-02 07:30] RogerCageot commented on #39
@falsovsky : ░ ▓██▄  ▒██▒ ▓██░ ▒▒███      ▒ ▓██░ ▒▒██▀▀██▒███  ▓██    ▓██▒███      ▓██░ ██▓▒██░   ░ ▓██▄    ▒   ██░██░ ▓██▓ ░▒▓█  ▄    ░ ▓██▓ ░░▓█ ░██▒▓█  ▄▒██    ▒██▒▓█  ▄    ▒██▄█▓▒ ▒██░

[2016-06-02 08:54] falsovsky commented on #39
Are you sure that youre using the FiSH from this repository ?

[2016-06-07 12:44] falsovsky commented on #39
Hello ?

[2016-06-07 12:45] #37 closed

[2016-06-15 13:21] falsovsky commented on #39
@RogerCageot  well ?? Is this a bug or not ?

[2016-09-22 19:11] z0rti opened #40 "[FEATURE-REQUEST] wait for password at startup"
Hi,

when i start irssi, the module is loaded via ~/.irssi/startup file.
So i get the 'Enter password:' prompt, but in the background
irssi is connecting to the server, joining channels.
Irssi then complains 'Remove unknown settings from config file (Y/n)?'
Because of some settings like 'mark_encrypted' which are not known, as it still waits for the PW.
Is it possible to block irssi, until the pw

[2016-09-22 20:22] falsovsky commented on #40
I cant reproduce what you say about 'Remove unknown settings from config file (Y/n)?'.

I just added a new network to irssi, and an auto join channel to that network. Enabled fish on that channel. And quit.

Added load fish to the startup file.

Everything works as expected, he connects to the network and joins the channel normally on background. No errors.

Then, when you insert the password, it

[2016-09-22 20:22] falsovsky commented on #40
maybe a new irssi version? I'm going to update to the latest and try.

[2016-09-22 20:34] falsovsky commented on #40
I just upgraded to irssi 0.8.20 and still nothing wrong.

I'm going to need some more info to help me reproduce.

[2016-09-23 16:12] z0rti commented on #40
You didn't set any settings e.g. /set mark_encrypted ">> "
(don't forget to /save them)

This is also a "problem", it doesn't decrypt the topic, because the pw is entered AFTER the chan is joined, so a /cycle is needed.

The old version i got 0.99 with irssi 0.8.17 used to block everything until the pw is entered.

[2016-09-23 16:35] #39 closed

[2016-09-23 16:36] falsovsky commented on #40
Ok. I could reproduce it now!

I cant put that blocking irssi, that was a very bad thing to do.
If you loaded fish after connecting to irc, it would block all connections.

I'm going to take a look on how to fix this! Thanks for the report :)

[2016-09-23 17:01] falsovsky commented on #40
z0rti, please update and try it out!

[2016-09-23 17:22] z0rti commented on #40
Yep that fixed the 'Remove unknown settings from config file (Y/n)?'
Thanks ;)

[2016-09-23 17:22] #40 closed

[2016-09-23 17:24] falsovsky commented on #40
I'm sorry that you were used to the lock, but that was very bad for irssi.
The current implementation is much better as it doesnt block irssi and the network.

Thank you too for reporting!

[2016-09-23 17:35] z0rti opened #41 "Encrypted Topic isn't decrypted AFTER fishlogin"
An encrypted topic is not decrypted if i join a channel before i enter the ini password.

How to reproduce:
Join a chan with a previously encrypted topic (/topic+ foo)
Enter ini pw (/fishlogin)
See topicbar and /topic returning crypted +OK string

Fix:
Maybe update topicbar/topic content after fishlogin?

[2016-09-23 18:05] z0rti opened #42 "cmd_helpfish incomplete"
I just noticed that /showkey and /fishlogin are missing in /helpfish.
Here's the patch ;-)

[code]

[2016-09-24 21:53] #42 closed

[2016-09-24 23:22] falsovsky commented on #28
I've merged this into the master.

[2016-09-24 23:22] #28 closed

[2016-09-24 23:26] falsovsky commented on #26
It will continue as it is. Wont change this soon.

[2016-09-24 23:26] #26 closed

[2016-10-07 21:37] kelek- commented on #12
Is there any effort from your side to implement this? Since i always have to deal with people using mIRC and their CBC fish implementation - so that would be really great to be able to keyx using CBC.

[2016-10-07 23:06] #23 closed

[2016-11-24 00:17] sicko-gl commented on #30
Hi, I get the same error.
Compiled irssi 0.8.20 from source, cloned fish-irssi from github and built.

$ uname -a
OpenBSD nightfall.bogus.net 5.9 GENERIC#6 amd64

Running irssi:
 -!- Irssi: Client: irssi 0.8.20 (20160914 1355)
/load /home/sicko-gl/.irssi/modules/libfish.so
 -!- Irssi: fish/fish is ABI version 0 but Irssi is version 2, cannot load

The file:
-rw-r--r--  1 sicko-gl  users  57019 Nov

[2016-11-24 01:19] falsovsky commented on #30
The problem probably is that you have two versions of the irssi include files.

[2017-02-04 14:30] k0nsl opened #46 "FiSH-irssi on Alpine"
I'm trying to build FiSH-irssi on Alpine Linux and it does appear to build successfully but there is no resulting `libfish.so` in my irssi modules directory.

Here is the output of `make clean && cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr . && make && ls -lah`:
[code]
Any ideas why it seemingly builds it fine but no `libfish.so` in the irssi modules directory? Maybe I am doing something wrong.

[2017-02-04 14:33] k0nsl commented on #46
Oh, nevermind. I just checked for `libfish.so` in `/root/FiSH-irssi/src` and it appears to be building fine, but I don't know why it builds to that directory 😁

I'll close this and if somebody can add something, feel free.

[2017-02-04 14:33] #46 closed

[2017-02-04 16:50] falsovsky commented on #46
You are not running make install

[2017-02-04 16:51] falsovsky commented on #46
You need to:

cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr .
make
make install

[2017-02-05 07:27] Ossii opened #47 "Unable to compile on Debian Stretch"
/tmp/FiSH-irssi# cmake .
-- Using glib-2.0 2.50.2
-- Using OpenSSL 1.1.0c
-- irssi includes were found on /usr/include/irssi
-- The module will be installed by default to /usr/local/lib/irssi/modules
-- You can change it with 'cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr .'
-- Configuring done
-- Generating done
-- Build files have been written to: /tmp/FiSH-irssi

/tmp/FiSH-irssi# make
[ 14%] Building

[2017-02-05 09:11] ml- commented on #47
Doesn't support OpenSSL 1.1.0c yet.

See: https://github.com/falsovsky/FiSH-irssi/pull/45

Try: https://github.com/dogo42/FiSH-irssi

[2017-02-08 07:20] markrussinovichgithub opened #49 "coredump on Ubuntu 16.04.1 LTS"
Fresh install of Ubuntu LTS 16.04.1 LTS and followed the installation steps.
Compiling without errors.
Loading fish is succesfull (/load /home/mark/FiSH-irssi/src/libfish.so).
Entering a chan works.
/setkey #mychan key    too.
Type something, press enter, irssi crashes.

The following is what i got from a strace:

[code]

Let me know if i can provide anything more.

Mark

[2017-02-08 10:47] falsovsky commented on #49
Please try it again. Already fixed.

[2017-02-08 10:48] falsovsky commented on #47
I already merged that PR. This is fixed.

[2017-02-08 10:48] #47 closed

[2017-02-08 12:46] markrussinovichgithub commented on #49
Yes, i can confirm it is solved.
Thanks!!

[2017-02-08 19:31] #49 closed

[2017-02-11 10:44] yabbah opened #50 "glib-2.0 missing"
When i run 'cmake .' I got this:

`@homebridge:~/FiSH-irssi$ cmake .
-- The C compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Checking for module 'glib-2.0'
--   No

[2017-02-11 11:50] falsovsky commented on #50
The package is something like: glib2.0-dev

do a apt-cache search glib|grep -dev

[2017-02-11 12:01] yabbah commented on #50
Thank you, libglib2.0-dev was the correct packagesname. :)

[2017-02-11 12:01] #50 closed

[2017-02-11 12:32] falsovsky commented on #50
I updated the documentation with that info. Missed that one :)

[2017-02-11 14:19] tittof commented on #12
I started a branch https://github.com/tittof/FiSH-irssi/commits/fish2 that implements XSalsa20 with Poly1305 MAC (overhead 40 bytes).
You can switch that method off and on using /setmethod or /delmethod.

There is also a first lousy attempt to make blowfish cbc part of this plugin but I could use some help here as I'm not too interested in it.

Anyway let me know what you think.

[2017-02-18 03:16] ABCeedee opened #52 "Lower FiSH ABI version with newest irssi release"
I cloned the latest irssi repo and installed it. When I start irssi, I show "Irssi v1.1-g540639e0" as the version number.

I then cloned the repo and rebuilt FiSH following the instructions in the README. When I type '/load fish' I get the following message:

21:08  Irssi: fish/fish is ABI version 7 but Irssi is version 8, cannot load

I came from version 0.8.19 and FiSH was working flawlessly. Th

[2017-02-18 17:36] ABCeedee commented on #52
Just to note - this occurs on an Arch x86_64 installation, and I built the irssi installation from source. For some reason, removing irssi and trying to install irssi via pacman does not seem to work properly on that machine.

However, on my ARMv8 Arch machine, I was able to install irssi v1.0.1 successfully via pacman, and I was able to build and install FiSH successfully. I think this might just

[2017-02-18 18:28] falsovsky commented on #52
It its a user errror.

You compiled fish with the includes of the older version, because you didnt uninstall it first.

[2017-02-18 18:28] #52 closed

[2017-02-20 12:44] kelek- opened #53 "keyx with people having [ and ] in their name causing error"
Hello,
irssi throws an error, when trying to /keyx with a person, who is named [name].
This is the error shown:
Irssi: critical g_key_file_set_value: assertion 'g_key_file_is_group_name (group_name)' failed

[2017-02-20 14:28] falsovsky commented on #53
I can confirm this bug exists.

I'm going to take a look into it. Lets hope its not a glib limitation.

[2017-02-20 18:48] falsovsky commented on #53
I fixed it with a workaround for glib. Please test it out.

[2017-02-22 15:15] warsylep opened #54 "Error"
This addon doesn't works in mIRC 7.2 - Windows 7 x64, plz fix it with a whitelist.

                    _..._
                 .-'     '-.
                /     _    _\
               /':.  (o)  /__)
              /':. .,_    |  |
             |': ; /  \   /_/
             /  ;  `"`"    }
            ; ':.,         {
           /      ;        }
          ; '::.   ;\/\ /\ {
         |.      ':. ;`

[2017-02-22 15:18] falsovsky commented on #54
lol...

[2017-02-22 15:18] #54 closed

[2017-02-22 20:01] falsovsky commented on #53
ping?

[2017-02-22 21:14] nik-k opened #55 "Make fails"
I'm on gentoo 64-bit:

`[ 14%] Building C object CMakeFiles/fish.dir/base64.o
[ 28%] Building C object CMakeFiles/fish.dir/blowfish.o
/home/chef/built/FiSH-irssi/src/blowfish.c:8:12: Fehler: unbekannter Typname: »uint32_t«
     static uint32_t
            ^
/home/chef/built/FiSH-irssi/src/blowfish.c:20:12: Fehler: unbekannter Typname: »uint32_t«
     static uint32_t
            ^
/home/chef/built/

[2017-02-22 23:19] falsovsky commented on #55
No it doesnt, as I run Gentoo 64bits.

Please show what did you run.

[2017-02-22 23:25] falsovsky commented on #55
[code]

[2017-02-25 00:00] falsovsky commented on #55
ping

[2017-02-25 00:00] falsovsky commented on #53
ping

[2017-02-25 20:53] #53 closed

[2017-02-25 20:53] #55 closed

[2017-02-26 11:38] kelek- commented on #53
Thank you it works as expected.
Simply forgot to reply, my bad.

Thanks for the fix!

[2017-04-05 09:59] falsovsky opened #56 "unsetinipw crashes irssi"

[2017-04-05 16:59] vgropp opened #57 "fish/core is ABI version 0 but Irssi is version 7, cannot load"
Hi,

im running Irssi v1.0.2-1 from debian sid, i install irssi-dev and those includes are found in /usr/include/irssi (checked by removing it and then compile fails, cmake reports /usr/include/irssi as success though).

I double checked it on a clean debian sid and get the exact same error while loading in irssi:

18:32:45 -!- Irssi v1.0.2-1 - http://www.irssi.org
18:32:48 -!- Irssi: fish/core is

[2017-04-05 18:03] falsovsky commented on #57
I just tried it on a Debian Sid and it worked correctly.

You probably have two versions of the irssi headers installed

[2017-04-05 18:07] vgropp commented on #57
thanks, that solved the issue, i was using /load fish using a symlink from /usr/lib/x86_64-linux-gnu/irssi/modules/ to /usr/lib/irssi/modules/libfish.so. Any idea how to fix this issue instead of using full path? Im not sure i can remember it next time starting irssi ;-)

[2017-04-05 18:09] falsovsky commented on #57
Well

for now you can:

echo "load /usr/lib/irssi/modules/libfish.so" >> /home/username/.irssi/startup

[2017-04-05 18:10] falsovsky commented on #57
@vgropp I'll try to check if the modules path is specified in any irssi header and try to use that!

[2017-04-05 18:12] vgropp commented on #57
Thanks alot. And there seem to be an issue with cmake. After removing (rm -r /usr/include/irssi) the headers it still outputs: -- irssi includes were found on /usr/include/irssi
Its a bit misleading, but as it is working with your help im closing this issue

[2017-04-05 18:12] #57 closed

[2017-04-05 18:13] falsovsky commented on #57
YEs you need to remove the cmake cache.

[2017-04-05 20:50] #56 closed

[2017-04-10 15:36] laurentperez opened #58 "Mac OSX install instructions"
Hi

I had to compile fish under Mac OSX, maybe the following instructions should be added to the homepage

`first, install MacPorts from https://www.macports.org/`
`sudo port install glib2 libsodium`

Compilation is working fine. You need macports because glib libs are not found when using brew.

[2017-04-10 16:00] falsovsky commented on #58
This doesnt require libsodium.

[2017-04-10 19:40] laurentperez commented on #58
my bad, it was required by the https://github.com/tittof/FiSH-irssi/commit/d9e2db87690a947d14a5036a38035050e68555c5 forked at https://github.com/falsovsky/FiSH-irssi/issues/12#issuecomment-279146596. If it is ever merged to add CBC support it may be useful.

still, the glib2 installation thru macport is required.

[2017-06-06 05:39] qpenko commented on #58
I have documented a set of steps I recently took in order to build FiSH-irssi under macOS Sierra:

1. Use Homebrew to install following packages:
   `cmake, irssi, openssl, pkg-config`

   using command: `brew install <package>`

2. Use MacPorts to install following packages:
   `glib2`

   using command: `sudo port -t install glib2`

3. `git clone https://github.com/falsovsky/FiSH-irssi.git`
4. `

[2018-01-19 06:13] f1reflyyyylmao opened #60 "Irssi version mismatch"
After the latest update of irssi on my gnu/linux box the plugin doesn't load anymore. The error says
`Irssi: fish/fish is ABI version 7 but Irssi is version 13, cannot load`
I think it's a very straightforward message. I'd be happy if someone else could take care of this, as I don't know enough c to do it.

[2018-01-19 09:57] falsovsky commented on #60
The module needs to be recompiled every time you update irssi.

[2018-01-19 09:57] #60 closed

[2018-02-05 20:46] potem commented on #58
Can you help me figure this OpenSSL Problem out?

    make -DOPENSSL_INCLUDE_DIRS=/usr/local/opt/openssl/include -DOPENSSL_LIBRARY_DIRS=/usr/local/opt/openssl/lib .
    -- Using glib-2.0 2.54.3
    -- Checking for module 'openssl'
    --   No package 'openssl' found
    CMake Error at /usr/local/Cellar/cmake/3.10.2/share/cmake/Modules/FindPkgConfig.cmake:415 (message):
  A required package was not

[2018-02-06 12:28] falsovsky commented on #58
Did you run the instructions by @qpenko  ?

[2018-03-04 21:24] xieem commented on #58
@falsovsky I ran the instructions by @qpenko and I have the same errors as @potem

-- Using glib-2.0 2.54.3
-- Checking for module 'openssl'
--   No package 'openssl' found
CMake Error at /usr/local/Cellar/cmake/3.10.2/share/cmake/Modules/FindPkgConfig.cmake:415 (message):
  A required package was not found
Call Stack (most recent call first):
  /usr/local/Cellar/cmake/3.10.2/share/cmake/Modules/F

[2018-03-05 10:00] falsovsky commented on #58
I dont have an OSX computer to help you out.

[2018-03-05 10:01] xieem commented on #58
That’s a bummer

Maybe your friend will be able to help us out.

------------------------------------------------------
Maxime Witters
Entrepreneur
Belgian located in Poland

[2018-03-09 22:45] k0mmsussert0d opened #61 "FiSH doesn't decrypt playback messages"
Using Ubuntu 16.04 based OS I run irssi in a terminal. I perform `/load fish` then `/connect <network>` to connect to my ZNC bouncer. All the cached messages get downloaded, however fish doesn't decrypt them. It takes an effect only on the further received messages.

[2018-05-11 11:10] nubje commented on #58
I was able to get this to work by running `export PKG_CONFIG_PATH=/usr/local/opt/openssl/lib/pkgconfig` before running the cmake.

[2018-08-18 07:03] aksr opened #62 "Segfault if password is entered but not set"
1. `irssi`
2. `/load fish`
3. `/fishlogin`
4. *Enter some random password* and press `Enter`.

``free(): invalid next size (fast)``
``Aborted (core dumped)``

**Arch Linux**, irssi **1.1.1 (20180213 1256)**, FiSH-irssi **266.8418ac3**

[2018-08-18 08:17] #62 closed

[2018-08-18 08:17] falsovsky commented on #62
Thanks for the report. Fixed.

[2018-10-07 21:28] traumschule opened #63 "Please implement ThreeFish"
ThreeFish was published in 2008 and providers [better security](https://en.wikipedia.org/wiki/Blowfish_(cipher)#Weakness_and_successors).
https://www.schneier.com/academic/skein/threefish.html
https://www.cryptopp.com/wiki/Threefish
https://en.wikipedia.org/wiki/Threefish

Thanks!

[2018-10-25 19:16] #41 closed

[2018-10-25 19:17] falsovsky commented on #41
Fixed, thanks for reporting! It took two years because I didnt knew how to do it :-)

[2018-10-25 19:21] #58 closed

[2019-03-04 22:46] falsovsky commented on #12
Hi there!

CBC mode has been implemented in the cbc branch - https://github.com/falsovsky/FiSH-irssi/tree/cbc

I tested it with mirc with fish and they can talk correctly.

[2019-03-05 19:33] falsovsky commented on #12
@kelek- @somnial @tittof ping! Can you guys test this out?

[2019-03-05 22:59] somnial commented on #12
Hi @falsovsky, cheers for working on this. Unfortunately, while testing it irssi crashed with what I think looks like heap corruption. I'll raise an separate issue for it.

[2019-03-05 23:29] somnial opened #66 "irssi crash on cbc branch"
During testing of new module from cbc branch #12 irssi crashes with what looks like heap corruption.

**OS:** debian 7.11
**libc:** 2.13-38+deb7u12
**irssi:** 0.8.15-5+deb7u6
**fish:** r286-1e34b9d

Had a friend on mirc /keyx me, which didn't seem to work:
[code]

A couple seconds after, irssi crashed. I was also in some encrypted channels. Trace below:

[code]

[2019-03-05 23:57] falsovsky commented on #66
Thanks for the detailed info @somnial !

Going to install that OS on a VM and try to reproduce it!

[2019-03-06 19:21] falsovsky commented on #66
Please try it out again @somnial !

[2019-03-07 22:09] somnial commented on #66
I'll try again, but might not be available until Sunday.

[2019-03-15 20:05] falsovsky commented on #66
Yo @somnial, STATUS REPORT ? ;-D

[2019-03-18 19:15] somnial commented on #66
Pardon the delay @falsovsky, I tried the latest cbc branch on a different VPS and it's been running for about 24 hrs without issues!

[2019-03-18 19:18] somnial commented on #12
On the latest cbc branch (7b987ec) cbc keyx appears to be working for me, both when I initiate and receive.

[2019-03-18 19:28] falsovsky commented on #66
Awesome @somnial

Thanks!

[2019-03-18 19:29] falsovsky commented on #12
Nice! I'm also testing for a few weeks, after that I will merge it into master! Thanks for testing @somnial

[2019-03-18 19:29] #66 closed

[2019-05-01 00:22] falsovsky commented on #12
Merged into master.

[2019-05-01 00:22] #12 closed

[2019-05-01 10:35] pedrompcaetano commented on #9
Please do and close this ancient issue :-)

[2019-05-05 03:00] #9 closed

[2019-05-25 08:48] tsjk commented on #58
The following seems to work:

[code]

[2019-05-26 05:04] BakasuraRCE opened #67 "keyx ecb mode broken"
When you do /keyx -ecb the first time with other person will be OK, after if you do /keyx it add "cbc=1" in blow.ini, and then if do /keyx -ecb the blow.ini is not updated

[2019-05-26 19:33] falsovsky commented on #67
Hi,

Im trying to reproduce it, are both clients with FiSH-irssi ? Latest version?

[2019-05-26 20:44] #67 closed

[2019-05-26 20:45] falsovsky commented on #67
@BakasuraRCE Its fixed, make sure that both clients update.

[2019-09-23 15:09] ossii79 opened #69 "warnings after upgrading to debian buster, irssi 1.2.2"
After doing a system upgrade to Debian Buster, along with compiling irssi1.2.2 and a fresh cloned FiSH-irssi I suddenly get an openssl warning after each private message (and only there).

Warnings states:
*** WARNING : deprecated key derivation used.
Using -iter or -pbkdf2 would be better.

Debian 10 - 64bit
irssi 1.2.2 from irssi.org
-- Using glib-2.0 2.58.3
-- Using OpenSSL 1.1.1c

[2019-09-23 15:12] falsovsky commented on #69
Thanks for the report!
I'm going to install Debian 10 on a VM to try to reproduce it.

[2019-09-23 19:57] falsovsky commented on #69
Hi there @ossii79

I just installed a Debian 10 64bit VM. Built irssi-1.2.2 and get got FiSH-irssi from git.
Everything works correctly, no messages.

I did a bit of search, and in my findings that error is from the **openssl** program for the console.
https://github.com/openssl/openssl/blob/8ed7bbb411d2a9e0edef928958ad955e0be3d6dd/apps/enc.c#L481
FiSH-irssi doesn't call **openssl** directly, it u

[2019-09-24 05:25] ossii79 commented on #69
071957  Unloaded module fish/core
072028  FiSH r301-1171606 - encryption module for irssi loaded!
072028  URL: https://github.com/falsovsky/FiSH-irssi
072028  Try /helpfish or /fishhelp for a short command overview
072028  FiSH: Current blow.ini is password protected.
072028  Loaded module fish/core
072035  FiSH: Correct blow.ini password entered, lets go!

When you mention it being something else

[2019-09-24 06:08] ossii79 commented on #69
Confirmed, after updating to latest version of irssinotifier (https://github.com/murgo/IrssiNotifier/blob/master/Irssi/irssinotifier.pl) it all works ok now.
Thanks for putting me on the right track @falsovsky

[2019-09-24 06:08] #69 closed

[2019-09-24 11:22] falsovsky commented on #69
No problem @ossii79 . Glad I could help.

[2020-03-20 14:07] asjoyner opened #70 "Please optionally decrypt with ECB, even if configured for CBC"
It would be nice if /setkey would operate as a hint for decryption, rather than requirement.  If I "/setkey cbc:abcdef", obviously the plugin must encrypt my messages with CBC, but the decryption path could first try to decrypt with CBC, and if that fails, try to decrypt a message as ECB (with the same key).  Messages successfully decoded with ECB could print an extra leading character, like the b

[2020-04-02 14:05] falsovsky opened #71 "/notice+ isn't trying to use the active window"
Its always requiring `/notice+ #channel msg` or `/notice+ nick msg`.
But doing `/notice+ msg` on a active window of a channel or a query should work automatically.

[2020-04-02 20:09] #71 closed

[2020-07-21 18:43] hazaelsan opened #72 "Impossible to distinguish /me from /me+"
[code]

Which makes is impossible to tell whether I used `/me` or `/me+`.  FiSH should also add a `> ` prefix to encrypted actions.

[2020-07-21 18:44] hazaelsan commented on #72
`/notice` and `/notice+` are in the same boat.

[2020-07-21 22:34] falsovsky commented on #72
Awesome find @hazaelsan

I'm going to look into this, thanks for reporting!

[2020-07-25 20:44] falsovsky commented on #72
Hi there @hazaelsan !

Willing to try https://github.com/falsovsky/FiSH-irssi/tree/missing_prefix ?

[2020-07-27 20:44] hazaelsan commented on #72
That works, thanks!

[2020-07-29 11:20] #72 closed

[2020-07-29 11:21] falsovsky commented on #72
Merged into master.

[2020-09-18 09:38] cmouse opened #74 "Cannot compile without extra CFLAGS"
Hi!

In order to this plugin to work, I had to add following things to flags.make file:

[code]

It would not compile otherwise. Perhaps these could be automatically detected & set by cmake?

[code]

[2020-09-18 10:01] falsovsky commented on #74
Hi there, did you read the instructions ?

Your report doesn't show the problem. I just installed a VM with Ubuntu 16.04.

[code]

And it works.

[2020-09-18 10:06] falsovsky commented on #74
https://www.chiark.greenend.org.uk/~sgtatham/bugs.html

[2020-09-21 09:38] cmouse commented on #74
Thank you for your response, I have following packages installed:

[code]

and I perform these steps:

[code]

As you can see, the `cmake` output drastically differs from yours. Do you have any idea what I could be doing wrong here?

[2020-09-21 09:54] cmouse commented on #74
Ah. Sorry, realized what my mistake was.

[2020-09-21 09:54] #74 closed

[2021-02-05 16:35] falsovsky commented on #70
Well @asjoyner fish doesn't have integrity checks for the messages, if it tries to decrypt a ECB crypted message with CBC, fish will decrypt it, but it will just return garbage. And fish doesn't know how to differentiate garbage from real text, so the "if that fails" cant be done.

[2021-02-05 16:35] #70 closed

[2021-07-14 11:47] i-am-laffer opened #75 "FiSH Logo"
Aqui vai o logo que me surgiu.
Se não estiver ao teu gosto, fica apenas para mim.
![FiSH-Logo](https://user-images.githubusercontent.com/54679463/125616938-45e73acb-1350-4041-a4ac-5b2b0aadc16c.png)

[2021-07-14 14:44] falsovsky commented on #75
Espetaculo sir

[2021-07-18 20:10] i-am-laffer commented on #75
Deixo aqui a ligação para o logo/ícone SVG
https://github.com/i-am-laffer/logo-FiSH

[2021-07-20 16:24] i-am-laffer commented on #75
"Ambrósio, quer tomar algo?"
Tomei a liberdade de fazer mais um logo.

Não sei se se percebe bem a ideia ou se é muito rebuscada.
- [logo-FiSH-v2](https://github.com/i-am-laffer/logo-FiSH-v2)

[2021-07-25 12:07] i-am-laffer commented on #75
3ª versão do logo | 3rd version of the logo for FiSH

[FiSH logo v3](https://github.com/i-am-laffer/logo-FiSH-v3)
[Previews](https://github.com/i-am-laffer/logo-FiSH-v3/tree/main/PNG)

[2021-10-07 02:15] kayfab3 opened #76 "Port to Hexchat ?"
Is this something that you might be interested in offering?

The current fish implementation in hexchat has bugs, is missing features, and the third party developer has not been active the past year.

[2021-10-14 14:20] hugopeixoto commented on #76
Hi there :wave: This project is focused on irssi. Porting it would mean rewriting most of the code, and none of the developers use hexchat, so there's no motivation for us to work on it.

I recommend that you find someone that uses hexchat to fork the existing implementation and continue working on it.

[2021-10-14 14:20] #76 closed

[2021-10-15 15:38] kayfab3 commented on #76
Hi

I'm aware FiSH-irssi was developed for irssi.

To summarize Hexchat is in short supply of developers and even less expertise developing encryption modules.

The original FISH project (fish.secure.la)  is offline and long since deprecated, but when it started the dev supported mIRC, xchat, and irssi.   It's been nearly a decade since that project ended and various client focused projects appear

[2021-10-15 15:44] kayfab3 commented on #76
Hi @hugopeixoto

I'm aware FiSH-irssi was developed for irssi.

To summarize Hexchat is in short supply of developers and even less with experience developing encryption modules.

The original FISH project (fish.secure.la)  is offline and long since deprecated, but when it started the dev supported mIRC, xchat, and irssi.   It's been nearly a decade since that project ended and various client focu

[2022-10-08 18:31] z0rti opened #77 "/me+ from/to HexChat doesn't work"
When someone with HexChat sends a /me to my irssi i just see
```* HexUser +OK crypted```

and when i send a /me+ foo with irssi they see
```<IrssiUser> ^AACTION foo```

(Not sure if FiSH-irssi bug or FiSH-hexchat)